__pycache__/
*.py[cod]

*.so

.Python
env/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.eggs/

pip-log.txt
pip-delete-this-directory.txt

.idea/

.pytest_cache/

.venv/
venv/

*.sw*
.DS_Store

.env

.vscode/
staticfiles/